@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
   --color-main-white: #252525;
   --color-border-gray: #cbcbcb;
   --color-main-gray: #d9d9d9;
   --color-main-black: #eee;
   --color-alt-black: #ccc;
   --color-main-green: #10bc94;
   --color-light-green: #147f35;
   --color-dark-green: #00856d;
   --color-old-orange: #c94a24;
   --color-main-orange: #10bc94;
   --color-main-blue: #4964D1;
   --color-main-yellow: #f9e042;
}

@layer base {
   * {
      font-family: quincy-cf, serif;
      color: var(--color-main-white);
   }

   html {
      font-size: 20px;
   }

   h1 {
      @apply text-5xl;
      letter-spacing: -1px;
      font-weight: 600;
   }

   p {
      line-height: 1.2rem;
   }

   h2 {
      @apply text-4xl;
      letter-spacing: -1px;
   }

   .gold-text {
      background: linear-gradient(to bottom, #f5c863ff, #b1754dff);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
   }
}
